*.egg-info
*.py[cod]
*.so
*.so.*
build
dist
_CPack_Packages
CMakeFiles
cmake_install.cmake
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
install_manifest.txt
*.tar.gz
*.zip
Makefile
*.dylib
*.a
