[user]
	email = sfinktah@github.spamtrak.org
	name = Sfinktah Bungholio
[credential]
	helper = manager
[core]
	excludesfile = ~/.cvsignore
	fileMode = false
	autocrlf = false
	safecrlf = false
	ignorecase = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[push]
	default = current
[alias]
    save = !sh -c 'export PREV=$(git symbolic-ref HEAD|cut -d/ -f3-) && git checkout -b "$1" && git commit -am "$1" && git checkout "$PREV"' -

