include COPYING setup.cfg setup.py
include windows\cdistorm.vcxproj windows\cdistorm.vcxproj.filters windows\distorm.sln windows\resource.h windows\Resource.rc
recursive-include src *.c *.h
recursive-include include *.h
recursive-include python *.py
